/* mobile styling */
  body {
    background-image: linear-gradient(white, #EFF0F7);
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px
  }

  .navNav {
    display: none;
  }
  
  .navDiv {
    display: none;
  }
  
  .person {
    padding-left: 10px;
    max-width: 140%;
    display: block;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }


  nav {
    display: flex;
    flex-flow: column;
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0px
  }
  
  .first_nav {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px
  }
  
  .second_nav {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid hsl(0, 0%, 75%);
    padding-top: 25px;
    padding-left: 0px
  }
  
  .navbutt {
    background-color: hsl(257, 27%, 26%);
    color: white;
    padding: 15px
  }
  
  .navbutt:hover {
    cursor: pointer
  }
  
  .signup {
    background-color: hsl(180, 66%, 49%);
    width: 90%;
    text-align: center;
    border-radius: 50px;
  }
  
  .burger {
    width: 20px;
    height: 2px;
    background-color: hsl(0, 0%, 75%);
    margin: 6px 0;
  }
  
  .burgerButton {
    border: none;
    background-color: white;
  }
  
  .shorterLinks {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 20px 20px
  }
  
  .shorterLinksOne {
    width: 50%;
    /* padding-left: 0px; */
    margin-left: auto;
    margin-right: auto;
  }


  h1 {
    text-align: center;
    font-weight: 700;
    margin-top:0px;
    margin-bottom: 10px
  }
  
  h3 {
    font-weight: 500;
    justify-self: center;
    color: hsl(0, 0%, 75%);
    margin-top: 0px;
    font-size: 20px;
    line-height: 1.5
  }
  
  .getStarted {
    border: none;
    border-radius: 25px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    font-weight: 700
  }
  
  .shortenInputDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-boost-mobile.svg");
    background-color: hsl(257, 27%, 26%);
    padding: 25px;
    border-radius:10px;
    margin: 50px 15px 50px 15px;
  }
  
  .shortenButt {
    background-color: hsl(180, 66%, 49%);
    /* width: 100%; */
    color: white;
    margin-top: 15px;
    font-weight: 700;
    padding: 10px;
  
  }
  
  .inputAndButt {
    width: -webkit-fill-available;
    /* margin: 5px 30px 5px 30px; */
    font-size: 20px;
    border-radius: 5px;
    border: none;
  }
  
  ::placeholder {
    color: hsl(0, 0%, 75%);
    opacity: 1;
    font-weight: 200;
  }
  
  
  input:hover {
    border: 2px solid hsl(0, 87%, 67%)
  }
  
  input[type="text"] { 
    padding: 10px;
    border: 2px solid hsl(260, 8%, 14%);
  }
  
  .shortDisplayDiv {
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 50px 15px 50px 15px;
    border-radius: 10px;
    word-wrap: break-word
  }
  
  .shortDisplayOne {
    font-weight: 500;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    padding: 10px
  }
  
  .shortDisplayTwo {
    padding: 10px;
    color: hsl(180, 66%, 49%)
  }
  
  .copyButt {
    margin-top: 10px;
    background-color: hsl(180, 66%, 49%);
    color: white;
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 5px;
    border: none
  }
  
  .copyButtPurp {
    background-color: hsl(260, 8%, 14%);
    color: white;
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
  
  }
  
  .infoDiv {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
  }
  
  
  h2 {
    font-weight: 700;
    margin-bottom: 0px
  }
  
  p {
    text-align: center;
    color: hsl(257, 7%, 63%);
  }
  
  .infoBlock {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 80px 20px 0px 20px;
    position: relative;
    padding: 10px
    
  }

  .infoBlockDiv {
    display:flex;
    flex-flow:column
  }

  .middleBlock {
    top: 0px;
  }
  
  .lastBlock {
    margin-bottom: 60px
  }
  
  
  
  .infoIcon {
    background-color: hsl(260, 8%, 14%);
    border-radius: 100%;
    padding: 15px;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto

  }
  
  h4 {
    text-align: center;
    margin-bottom: 0px
  }
  
  .stripe {
    width: 7px;
    height: 50px;
    background-color: hsl(180, 66%, 49%);
    margin-bottom: -60px;
  }
  
  .boostDiv {
    background-image: url("./images/bg-boost-mobile.svg");
    background-color: hsl(257, 27%, 26%);
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
  }
  
  .boost {
    color: white;
    padding-bottom: 20px
  }
  
  .footerDiv {
    background-color: hsl(260, 8%, 14%);
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
  }
  
  h6 {
    font-size: 29px
  }
  
  h5 {
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }
  
  ul {
    padding: 5px 0 5px 0
    
  }
  
  li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    color: hsl(257, 7%, 63%);
    font-weight: 200px
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .icons img {
    padding: 10px 10px 40px 10px
  }
  
  .attribution {
    color: hsl(257, 7%, 63%)
  }



/* desktop styling */

@media(min-width: 1440px) {
  body {
    padding: 10px 80px 10px 80px;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
  }


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 10px 0;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
  }
  header img {
    height: 30px;
    /* padding: 30px 0px 0px 60px */
  }
  .displayMenu {
    display: none;
  }

  .burgerButton {
    display: none;
  }

  .navNav {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    background-color: white;
    color: hsl(0, 0%, 75%);
    padding: 0;
    margin: 0;
    width: 90%
  }

  .navRow {
    display: flex;
    flex-flow: row;
    padding: 0
  }

  .navbutt {
    background-color: white;
    color:hsl(0, 0%, 75%);
    margin: 10px
  }

  .second_nav {
    border: none;
  }
  .signup {
    background-color: hsl(180, 66%, 49%);
    width: 120px;
    text-align: center;
    border-radius: 50px;
    color: white
  }

  .shorterLinks {
    display:flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: flex-start;
    padding: 100px 0px 100px 0px;
    background-image: url("./images/illustration-working.svg");
    background-repeat: no-repeat;
    background-position:right -127px bottom 0px;
    max-width: 1575px;
    margin-left: auto;
    margin-right: auto;

  }

  .shorterLinksOne {
    width:50%;
    padding-left: 123px;
    margin-left: inherit;
    margin-right: inherit;
  }

  .shorterLinks h1 {
    font-size: 53pt;
    text-align: left
  }

  h3 {
    font-size: 18pt
  }
  
  .getStarted {
    font-size: 18pt
  }

  .shortenInputDiv {
    display: flex;
    flex-flow: row;
    border-radius: 5px;
    background-image: url("./images/bg-shorten-desktop.svg");
    max-width: 1287px;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    width: 80%;
  }

  .shortenButt {
    width: 20%;
    margin-top: 0;
    margin-left: 10px
  }

  .infoDiv {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .infoBlocksDiv {
    display: flex;
    flex-flow: row;
    margin-bottom: 116px;
    justify-content: center;
    max-width: 1362px;
    margin-left: auto;
    margin-right: auto;
  }

  .infoBlock {
    display:flex;
    flex-flow:row;
  }

  .infoBlockDiv {

    width: 400px
  }

  .infoBlockWords {
    width: 300px;
    margin-left:auto;
    margin-right:auto
  }
  .lastBlock {
    margin-bottom: 0px
  }

  .stripe {
    height: 5px;
    width: 51px;
    margin-right: -62px;
    margin-bottom: 0px;
  }

  .infoIcon {
    width: 50px;
    margin-top: -50px;
    margin-left: 20px;
  }

  .middleBlock {
    position: relative;
    top: 20px;
  }

  .lastBlock {
    position: relative;
    top: 40px
  }

  .boostDiv {
    background-image: url("./images/bg-boost-desktop.svg");
    height: 250px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .footerDiv {
    flex-flow: row;
    justify-content: space-evenly;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  h6 {
    margin-top: -74px;
    margin-right: 150px;
  }

  .footDiv {
    padding: 20px;
    text-align-last: justify  }

  .companyDiv {
    padding-top: 52px
  }

  .icons {
    padding-bottom: 131px
  }


  .icons img {
    padding: 10px
  }
}

@media(max-width:1585px) {
  .shorterLinksOne {
    width: 50%;
    padding-left: 0px
  }
}


